/* Colors
 
dark blue:    #332532
dark teal:     #644D52
light red:     #F77A52
light orange: #FF974F
salmon:        #A49A87

*/


body {
	background-color: #A49A87;
}

li {
	list-style-type: none;
}

.container {
	background-color: #FFFFFF;
	padding: 10px;
	width: 800px;
}

#header {
	text-align: center;
	background-color:  #332532;
	padding: 10px;
	
	
}
#header h1 {
	color: #FFFFFF;
}


/* large action buttons */
a.action {
	
	float: right; 
	padding: 2px 5px; 
	margin: 0 0 1em 1em; 
  	background: #F77A52; 
  	color: #FFFFFF;  
  	border: 1px solid #4C2516;
  	text-decoration: none; 
  	font-size: 0.8em; text-align: center; }

a.action:hover { 
	background: #FF974F;
	text-decoration: underline;	
}




span.status {
	
	display: block;
	width: 10px;
	height: 10px;
	margin: 0.25em auto;
	padding: 0;
	border: 1px solid #000000;
	
}

span.status.true {
	
	background: green;
	color: green;
}

span.status.false {	
	background: red;
	color: red;
}







